
.h1 {
  margin:0;
  padding:0;
}

.card {
  display:flex;
  flex-direction:row;
  align-items: center;
  background-color: var(--color-card);
  color:var(--color-primary);
  padding:0px;
  margin-bottom: 20px;
  margin-left:20px;
  margin-right:20px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(150,150,150,0.2);
}


.text_justify {
  text-align: justify;
  text-justify: inter-word;
}


.card_img_container {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin:2px;
  margin-left: 10px;
  min-width: 200px;
  max-width: 200px;
}

.card_img {
  border-radius: 10px;
  width:100%;
}

.card_info {
  display:flex;
  flex-direction:column;
  padding-left:20px;
  padding-right:10px;
}

.text_info{
  overflow-wrap:anywhere;
}

.link:hover,
.link:focus,
.link:active {
  color: #0070f3;
}


.titre_list_films {
  padding-left:50px;
}

.amp_container{
  display:flex;
  flex-direction:row;
}

.amp_card_img_container {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin:2px;
  margin-left: 10px;
  min-width: 200px;
  max-width: 200px;
}

.amp_img {
  width:100%;
}


@media (max-width: 600px) {
  .card {
    flex-wrap:wrap;
    margin-left:2px;
    margin-right:2px;
  }
  .card_info {
      padding-left:2px;
      padding-right:2px;
  }

  .titre_list_films {
    padding-left:2px;
  }

}
