.footer {
  background-color: var(--color-card);
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.itemLeft {
  border-right: 3px solid #000000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  img {
    margin-left: 0.5rem;
  }
  a {
    color: black;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.itemRight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left:10px;
  color: black;
  img {
    margin-left: 0.5rem;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 16px;
      font-weight: bold;
    }


  }
}

.mentions {

}

.mentions:hover,
.mentions:focus,
.mentions:active {
  color: #0070f3;
}

.logo {
  height: 1em;
}


.line1 {
  background-color: #000000;
  display:flex;
  height:2px
}
.line2 {
  background-color: var(--color-card);
  display:flex;
  height:4px
}

@media (max-width: 600px) {
  .footer {
    flex-wrap:wrap;
  }
}
