:root {
	--color-primary-accent: #5b34da;
	--color-primary: #000;
	--color-background: #fff;
	--color-secondary-accent: #358ef1;
}

[data-theme="dark"] {
	--color-primary-accent: #9d86e9;
	--color-secondary-accent: #61dafb;
	--color-primary: #eee;
	--color-background: #111;
	--color-card: #333333;
}

[data-theme="light"] {
	--color-primary-accent: #9d86e9;
	--color-secondary-accent: #61dafb;
	--color-primary: #111;
	--color-background: #eee;
	--color-card: #BBBBBB;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.labelAutoTheme{
	position:relative
}

.labelAutoTheme:before{
	content:"";
	position: absolute;
	left:10px;
	top:0;
	width:20px;
	background: url(http://localhost:3000/images/light.svg)
}

input[type=radio] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

input[type=radio] + label {
  //background: #444444;
  color: #ccc;
	border-radius: 5px;
}

input[type=radio]:checked + label {
  background: #9AD284;
  color: #000;
	box-shadow: 2px 2px 3px inset #333;
}

input[type=radio]:hover + label {
  background: #eee;
  color: #000;
}

input[type=radio]:focus + label {
  //background: #666;
  color: #000;
}

svg {
  height: 2em;
  width: 2em;
}

.container_jn {
	flex-direction:row;
	min-width: 6em;
}

label {
  text-align: center;
  height: 2em;
  width: 2em;
  color: #fff;
  float: left;
  transition: 200ms;
}
