.header {
  background-color: #E22020;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  padding-top:4px;
}

.img1{
  margin:0;
  padding:0;
  margin-left:10px;
}

.h1{
  font-size: 32px;
  text-shadow: -1px -1px #ccc, 1px 1px #666, -5px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  padding-left:10px;
  font-weight:lighter;
  text-align:center;
  margin-top:0px;
  margin-Bottom:2px;
  margin-left:5px;
  margin-right:5px;
}

.description {
  font-size: 20px;
  color: #FFFFFF;
  font-weight:normal;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  margin-top:0;
  margin-bottom:0;
}

.menu {
  background-color: #E22020;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card {
  margin: 2px;
  margin-bottom:8px;
  flex-basis: 20%;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: #F25050;
}

.card h6 {
  margin: 0 0 0 0;
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.line1 {
  background-color: #FFFFFF;
  display:flex;
  height:2px
}
.line2 {
  background-color: #E22020;
  display:flex;
  height:4px
}


@media (max-width: 600px) {
  .menu {
    flex-wrap:wrap;
  }
  .header{
    flex-wrap:wrap;
  }
}
