
.contentTitle {
  display:flex;
  justify-content: flex-start;
  margin-Left:50px;
}

.title {
  border-bottom: 3px solid var(--color-primary);
  padding-left: 10px;
  padding-right:10px;
  padding-bottom:5px;
  padding-top:5px;
}

.container{
}
 
.intro{
  padding-left:50px
}

@media (max-width: 600px) {
  .contentTitle {
    margin-left:2px;
  }
  .intro{
    padding-left:2px;
  }
}
